.category__button {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--light);
    border: 1px solid transparent;
    text-decoration: none;
    background-color: var(--gray);
    cursor: pointer;
}

.category__button,
.category__button::after,
.category__button::before {
    transition: 0.3s;
}

.animation {
    z-index: 0;
}

.animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
}

.animation:hover {
    color: #000;
}

.animation:hover::after {
    height: 100%;
}