// @use './colors' as *;
@use './buttons' as *;

:root {
    --main-color: rgb(255, 192, 123);
    --gold: rgba(255, 229, 81, 0.582);
    --purple: rgb(152, 76, 195);
    --gray: rgb(26, 28, 30);
    --dark: rgb(8, 9, 11);
    --light: rgb(228, 225, 221);
    --blue: rgb(122, 122, 255);
    --bg-color: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    --red: rgb(218, 34, 34);
    --green: rgb(43, 247, 43);
    --dark-shadow: rgba(0, 0, 0, 0.8);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: var(--gray);
    color: var(--blue);
}

.fa-exclamation,
.fa-exclamation::before,
.fa-exclamation::after {
    color: var(--red);
}

.fa-square-check,
.fa-square-check::before,
.fa-square-check::after {
    color: var(--green);
}

.done {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: -18px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
}

.todo {
    position: relative;
    width: 1400px;
    height: 800px;
    margin: 5vh auto;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: var(--dark);
    border-radius: 25px;
    box-shadow: 10px 10px 15px var(--main-color);

    .header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__info-box {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__info {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &__title {
            color: var(--main-color);
            font-family: 'Lumanosimo', cursive;
            font-size: 30px;
        }

        &__text {
            color: var(--light);
            font-size: 15px;
        }

        &__search-bar {
            position: relative;
            width: 500px;
            height: 100%;
            margin-left: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
        }

        &__search {
            width: 100%;
            padding: 20px;
            color: var(--light);
            border: none;
            border-radius: 40px;
            background-color: var(--gray);
        }

        &__search-icon {
            position: absolute;
            right: 20px;
        }

        &__settings {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__gear {
            width: 100%;
            height: 100%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }

        &__gear-icon {
            color: var(--light);
            font-size: 32px;
            transition: color 0.3s;
            cursor: pointer;
        }

        &__gear-icon:hover {
            color: var(--main-color);
        }
    }

    .main {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

        .category {
            width: 20%;
            height: 100%;
            padding: 25px 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: var(--gray);
            border-radius: 25px;

            &__button {
                margin-bottom: 10px;
            }

            &__new-task {
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 15px;
                background-color: var(--main-color);
                color: var(--dark);
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: bold;
                transition: color 0.3s, background-color 0.3s, border 0.3s;
                cursor: pointer;
            }

            &__new-task:hover {
                color: var(--main-color);
                border: 1px solid var(--main-color);
                background-color: var(--gray);
            }
        }

        .tasks-section {
            width: 80%;
            height: 100%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .header {
                width: 100%;
                height: 80px;
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__name {
                    color: var(--light);
                    font-size: 22px;
                }

                &__order-button {
                    width: 120px;
                    height: 40px;
                    border: 1px solid var(--main-color);
                    border-radius: 15px;
                    background-color: var(--gray);
                    color: var(--light);
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    transition: color 0.3s, background-color 0.3s, border 0.3s;
                    cursor: pointer;
                }

                &__order-button:hover {
                    color: var(--dark);
                    border: 1px solid var(--gray);
                    background-color: var(--main-color);
                }
            }

            .tasks-box {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;

                .task {
                    position: relative;
                    max-height: 200px;
                    margin: 25px;
                    padding: 18px;
                    display: flex;
                    border: 1px solid var(--dark);
                    border-radius: 25px;
                    background-color: var(--gray);
                    transition: 0.3s;
                    cursor: pointer;

                    &__status-box {
                        width: 15%;
                    }

                    &__icon {
                        color: var(--light);
                        font-size: 20px;
                    }

                    &__info {
                        width: 180px;
                    }

                    &__date {
                        color: var(--light);
                        font-size: 11px;
                        font-style: italic;
                    }

                    &__name {
                        max-height: 20px;
                        margin-top: 10px;
                        overflow: hidden;
                    }

                    &__description {
                        max-height: 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color: var(--light);
                        font-size: 14px;
                        overflow: hidden;
                    }

                    &__author {
                        color: var(--gold);
                        font-size: 12.5px;
                        font-style: italic;
                    }
                }

                .task:hover {
                    border: 1px solid var(--light);
                    background-color: var(--main-color);
                    transform: scale(1.1);

                    .task__icon {
                        color: var(--dark);
                    }

                    .task__info {
                        width: 180px;
                    }

                    .task__date {
                        color: var(--dark);
                        font-size: 11px;
                        font-style: italic;
                    }

                    .task__name {
                        color: var(--dark);
                    }

                    .task__description {
                        color: var(--dark);
                    }

                    .task__author {
                        color: var(--dark);
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &__boxes {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__box {
        width: 20px;
        height: 20px;
        margin: 0 15px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 15px;
        background-color: var(--main-color);
        color: var(--dark);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s, background-color 0.3s;
        cursor: pointer;

        &:hover {
            color: var(--main-color);
            border: 1px solid var(--main-color);
            background-color: var(--gray);
        }
    }
}

// Modal
.error {
    visibility: hidden;
    margin-top: 2px;
    color: rgba(255, 0, 0, 0.8);
    font-style: italic;
}

.show-error {
    visibility: inherit;
}

.modal-new-task-shadow,
.modal-edit-task-shadow,
.modal-settings-shadow {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--dark-shadow);
}

.modal-new-task-shadow {
    display: none;
}

.modal-edit-task-shadow {
    display: none;
}

.modal-settings-shadow {
    display: none;
}

.modal {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 750px;
    padding: 20px 30px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    transform: translate(-50%, -50%);
}

.modal-title {
    margin: 25px;
    color: var(--main-color);
    font-size: 35px;
    text-align: center;
}

.modal-box {
    margin: 15px 0 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-label {
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 20px;
}

.modal-input,
.modal-textarea {
    width: 100%;
    height: 25px;
    padding: 5px;
    border: 1px solid var(--light);
}

.modal-textarea {
    height: 50px;
    resize: none;
}

.modal-checkbox {
    width: 25px;
    cursor: pointer;
}

.light-btn {
    color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    background-color: rgb(228, 225, 221);
}

.dark-btn {
    color: rgb(255, 192, 123);
    border: 1px solid rgb(255, 192, 123);
    background-color: rgb(8, 9, 11);
}

// Modal-new-task
.modal-new-task,
.modal-edit-task {
    display: none;

    &__box-buttons {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__new-task-btn,
    &__edit-task-btn {
        margin-left: 25px;
        width: 100px;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 15px;
        background-color: var(--main-color);
        color: var(--dark);
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        transition: color 0.3s, background-color 0.3s, border 0.3s;
        cursor: pointer;
    }

    &__new-task-btn:hover,
    &__edit-task-btn:hover {
        color: var(--main-color);
        border: 1px solid var(--main-color);
        background-color: var(--gray);
    }
}

.modal-settings {
    display: none;

    &__author {
        color: rgba(var(--main-color), 0.3);
        font-style: italic;
    }

    &__input {
        width: 40%;
        height: 35px;
        padding: 10px;
    }

    &__color-btns {
        display: flex;
        flex-direction: row;
    }

    &__color-btn {
        width: 35px;
        height: 35px;
        margin-right: 25px;
        border-radius: 50%;
        font-weight: bold;
        cursor: pointer;
    }

    &__box-buttons {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__btn {
        margin-left: 25px;
        width: 100px;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 15px;
        background-color: var(--main-color);
        color: var(--dark);
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        transition: color 0.3s, background-color 0.3s, border 0.3s;
        cursor: pointer;
    }


    &__btn:hover {
        color: var(--main-color);
        border: 1px solid var(--main-color);
        background-color: var(--gray);
    }
}

.active {
    color: var(--main-color);
}