.category__button {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(228, 225, 221);
  border: 1px solid transparent;
  text-decoration: none;
  background-color: rgb(26, 28, 30);
  cursor: pointer;
}

.category__button,
.category__button::after,
.category__button::before {
  transition: 0.3s;
}

.animation {
  z-index: 0;
}

.animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: white;
  z-index: -1;
}

.animation:hover {
  color: #000;
}

.animation:hover::after {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(26, 28, 30);
  color: rgb(122, 122, 255);
}

.fa-exclamation,
.fa-exclamation::before,
.fa-exclamation::after {
  color: rgb(218, 34, 34);
}

.fa-square-check,
.fa-square-check::before,
.fa-square-check::after {
  color: rgb(43, 247, 43);
}

.done {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: -18px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

.todo {
  position: relative;
  width: 1400px;
  height: 800px;
  margin: 5vh auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(8, 9, 11);
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgb(255, 192, 123);
}
.todo .header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo .header__info-box {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo .header__info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.todo .header__title {
  color: rgb(255, 192, 123);
  font-family: "Lumanosimo", cursive;
  font-size: 30px;
}
.todo .header__text {
  color: rgb(228, 225, 221);
  font-size: 15px;
}
.todo .header__search-bar {
  position: relative;
  width: 500px;
  height: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.todo .header__search {
  width: 100%;
  padding: 20px;
  color: rgb(228, 225, 221);
  border: none;
  border-radius: 40px;
  background-color: rgb(26, 28, 30);
}
.todo .header__search-icon {
  position: absolute;
  right: 20px;
}
.todo .header__settings {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo .header__gear {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.todo .header__gear-icon {
  color: rgb(228, 225, 221);
  font-size: 32px;
  transition: color 0.3s;
  cursor: pointer;
}
.todo .header__gear-icon:hover {
  color: rgb(255, 192, 123);
}
.todo .main {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo .main .category {
  width: 20%;
  height: 100%;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(26, 28, 30);
  border-radius: 25px;
}
.todo .main .category__button {
  margin-bottom: 10px;
}
.todo .main .category__new-task {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 192, 123);
  color: rgb(8, 9, 11);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
.todo .main .category__new-task:hover {
  color: rgb(255, 192, 123);
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
}
.todo .main .tasks-section {
  width: 80%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.todo .main .tasks-section .header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo .main .tasks-section .header__name {
  color: rgb(228, 225, 221);
  font-size: 22px;
}
.todo .main .tasks-section .header__order-button {
  width: 120px;
  height: 40px;
  border: 1px solid rgb(255, 192, 123);
  border-radius: 15px;
  background-color: rgb(26, 28, 30);
  color: rgb(228, 225, 221);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
.todo .main .tasks-section .header__order-button:hover {
  color: rgb(8, 9, 11);
  border: 1px solid rgb(26, 28, 30);
  background-color: rgb(255, 192, 123);
}
.todo .main .tasks-section .tasks-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.todo .main .tasks-section .tasks-box .task {
  position: relative;
  max-height: 200px;
  margin: 25px;
  padding: 18px;
  display: flex;
  border: 1px solid rgb(8, 9, 11);
  border-radius: 25px;
  background-color: rgb(26, 28, 30);
  transition: 0.3s;
  cursor: pointer;
}
.todo .main .tasks-section .tasks-box .task__status-box {
  width: 15%;
}
.todo .main .tasks-section .tasks-box .task__icon {
  color: rgb(228, 225, 221);
  font-size: 20px;
}
.todo .main .tasks-section .tasks-box .task__info {
  width: 180px;
}
.todo .main .tasks-section .tasks-box .task__date {
  color: rgb(228, 225, 221);
  font-size: 11px;
  font-style: italic;
}
.todo .main .tasks-section .tasks-box .task__name {
  max-height: 20px;
  margin-top: 10px;
  overflow: hidden;
}
.todo .main .tasks-section .tasks-box .task__description {
  max-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(228, 225, 221);
  font-size: 14px;
  overflow: hidden;
}
.todo .main .tasks-section .tasks-box .task__author {
  color: rgba(255, 229, 81, 0.582);
  font-size: 12.5px;
  font-style: italic;
}
.todo .main .tasks-section .tasks-box .task:hover {
  border: 1px solid rgb(228, 225, 221);
  background-color: rgb(255, 192, 123);
  transform: scale(1.1);
}
.todo .main .tasks-section .tasks-box .task:hover .task__icon {
  color: rgb(8, 9, 11);
}
.todo .main .tasks-section .tasks-box .task:hover .task__info {
  width: 180px;
}
.todo .main .tasks-section .tasks-box .task:hover .task__date {
  color: rgb(8, 9, 11);
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}
.todo .main .tasks-section .tasks-box .task:hover .task__name {
  font-weight: bold;
}
.todo .main .tasks-section .tasks-box .task:hover .task__description {
  color: rgb(8, 9, 11);
  font-weight: bold;
}
.todo .main .tasks-section .tasks-box .task:hover .task__author {
  color: rgb(8, 9, 11);
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer__boxes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__box {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgb(255, 192, 123);
  color: rgb(8, 9, 11);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.footer__box:hover {
  color: rgb(255, 192, 123);
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
}

.modal-new-task-shadow,
.modal-settings-shadow {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.modal-new-task-shadow {
  display: none;
}

.modal-settings-shadow {
  display: none;
}

.modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 750px;
  padding: 20px 30px;
  border: 1px solid rgb(255, 192, 123);
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin: 25px;
  color: rgb(255, 192, 123);
  font-size: 35px;
  text-align: center;
}

.modal-box {
  margin: 15px 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-label {
  margin-bottom: 10px;
  color: rgb(255, 192, 123);
  font-size: 20px;
}

.modal-input,
.modal-textarea {
  width: 100%;
  height: 25px;
  padding: 5px;
}

.modal-textarea {
  height: 50px;
  resize: none;
}

.modal-checkbox {
  width: 25px;
  cursor: pointer;
}

.light-btn {
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(228, 225, 221);
}

.dark-btn {
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(8, 9, 11);
}

.modal-new-task {
  display: none;
}
.modal-new-task__box-buttons {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.modal-new-task__new-task-btn {
  margin-left: 25px;
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 192, 123);
  color: rgb(8, 9, 11);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
.modal-new-task__new-task-btn:hover {
  color: rgb(255, 192, 123);
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
}

.modal-settings {
  display: none;
}
.modal-settings__author {
  color: rgba(255, 192, 123, 0.3);
  font-style: italic;
}
.modal-settings__input {
  width: 40%;
  height: 35px;
  padding: 10px;
}
.modal-settings__color-btns {
  display: flex;
  flex-direction: row;
}
.modal-settings__color-btn {
  width: 35px;
  height: 35px;
  margin-right: 25px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
.modal-settings__box-buttons {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.modal-settings__btn {
  margin-left: 25px;
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 192, 123);
  color: rgb(8, 9, 11);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
.modal-settings__btn:hover {
  color: rgb(255, 192, 123);
  border: 1px solid rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
}/*# sourceMappingURL=style.css.map */