@use './colors' as *;
@use './buttons' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: $bg-color;
    color: $blue;
    font-family: 'Montserrat', sans-serif;
}

.fa-exclamation,
.fa-exclamation::before,
.fa-exclamation::after {
    color: $red;
}

.fa-square-check,
.fa-square-check::before,
.fa-square-check::after {
    color: $green;
}

.done {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: -18px;
    border-radius: 25px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.6);
}

.todo-container {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    display: flex;
    width: 1400px;
    height: 800px;
    border: 1px solid black;
    background-color: $dark;
    box-shadow: 10px 10px 15px $main-color;
    margin: 50px auto;

    .header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info-search {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .info {
                width: 25%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;

                .h1 {
                    font-family: 'Lumanosimo', cursive;
                    color: $main-color;
                    font-size: 30px;
                }

                .welcome-text {
                    font-size: 15px;
                    color: $light;
                }
            }

            .search-bar {
                margin-left: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 500px;
                height: 100%;
                border-radius: 40px;

                .search {
                    width: 100%;
                    border-radius: 40px;
                    padding: 20px;
                    color: $light;
                    background-color: $gray;
                }

                .search-icon {
                    position: absolute;
                    right: 20px;
                }
            }
        }



        .settings {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 100%;

            .gear {
                margin-right: 20px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;

                i {
                    font-size: 32px;
                    color: $light;
                    cursor: pointer;
                    transition: color 0.3s;
                }

                i:hover {
                    color: $main-color;
                }
            }

            img {
                border-radius: 15px;
                width: 60px;
                height: 60px;
            }
        }
    }

    .main {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

        .category-box {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            padding: 25px 30px;
            background-color: $gray;
            border-radius: 25px;

            .button {
                margin-bottom: 10px;
            }

            .new-task {
                width: 100%;
                height: 50px;
                border-radius: 15px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                background-color: $main-color;
                border: none;
                cursor: pointer;
                color: $dark;
                transition: color 0.3s, background-color 0.3s, border 0.3s;
            }

            .new-task:hover {
                color: $main-color;
                background-color: $gray;
                border: 1px solid $main-color;
            }
        }

        .tasks-container {
            margin-left: 30px;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .tasks-header {
                // margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                width: 100%;
                height: 80px;

                .tasks-name {
                    color: $light;
                    font-size: 22px;
                }

                .order-button {
                    width: 120px;
                    height: 40px;
                    border-radius: 15px;
                    font-weight: bold;
                    background-color: $gray;
                    color: $light;
                    font-size: 16px;
                    border: 1px solid $main-color;
                    font-family: 'Montserrat', sans-serif;
                    cursor: pointer;
                    transition: color 0.3s, background-color 0.3s, border 0.3s;
                }

                .order-button:hover {
                    color: $dark;
                    background-color: $main-color;
                    border: 1px solid $gray;
                }

            }

            .tasks {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;

                .task {
                    position: relative;
                    display: flex;
                    margin: 25px;
                    padding: 18px;
                    max-height: 200px;
                    border-radius: 25px;
                    background-color: $gray;
                    cursor: pointer;

                    .box {
                        width: 15%;

                        i {
                            font-size: 20px;
                            color: $light;
                        }
                    }

                    .task-info {
                        width: 180px;

                        .task-date {
                            font-size: 11px;
                            color: $light;
                            font-style: italic;
                        }

                        .task-name {
                            margin-top: 10px;
                        }

                        .task-description {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            color: $light;
                            font-size: 14px;
                        }

                        img {
                            width: 50px;
                            border-radius: 15px;
                            border: 1px solid $main-color;
                        }

                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        // flex-direction: column;
        align-items: flex-end;

        .boxes {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .box {
                font-family: 'Montserrat', sans-serif;
                margin: 0 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                width: 20px;
                height: 20px;
                background-color: $main-color;
                color: $dark;
                font-weight: bold;
                border-radius: 15px;
                cursor: pointer;
                transition: color 0.3s, background-color 0.3s;
                border: 1px solid transparent;
                font-size: 18px;
            }

            .box:hover {
                color: $main-color;
                background-color: $gray;
                border: 1px solid $main-color;
            }
        }
    }
}