:root {
  --main-color: $main-color;
  --gold: $gold;
  --purple: $purple;
  --gray: $gray;
  --dark: $dark;
  --light: $light;
  --blue: $blue;
  --bg-color: $bg-color;
}

.button {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(228, 225, 221);
  border: 1px solid transparent;
  text-decoration: none;
  background-color: rgb(26, 28, 30);
  cursor: pointer;
}

.button,
.button::after,
.button::before {
  transition: 0.3s;
}

.animation {
  z-index: 0;
}

.animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: white;
  z-index: -1;
}

.animation:hover {
  color: #000;
}

.animation:hover::after {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgb(26, 28, 30);
  color: rgb(122, 122, 255);
  font-family: "Montserrat", sans-serif;
}

.fa-exclamation,
.fa-exclamation::before,
.fa-exclamation::after {
  color: rgb(218, 34, 34);
}

.fa-square-check,
.fa-square-check::before,
.fa-square-check::after {
  color: rgb(43, 247, 43);
}

.done {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  margin: -18px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

.todo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  display: flex;
  width: 1400px;
  height: 800px;
  border: 1px solid black;
  background-color: rgb(8, 9, 11);
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgb(255, 192, 123);
  margin: 5vh auto;
}
.todo-container .header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-container .header .info-search {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todo-container .header .info-search .info {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.todo-container .header .info-search .info .h1 {
  font-family: "Lumanosimo", cursive;
  color: rgb(255, 192, 123);
  font-size: 30px;
}
.todo-container .header .info-search .info .welcome-text {
  font-size: 15px;
  color: rgb(228, 225, 221);
}
.todo-container .header .info-search .search-bar {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 100%;
  border-radius: 40px;
}
.todo-container .header .info-search .search-bar .search {
  width: 100%;
  border-radius: 40px;
  padding: 20px;
  color: rgb(228, 225, 221);
  background-color: rgb(26, 28, 30);
}
.todo-container .header .info-search .search-bar .search-icon {
  position: absolute;
  right: 20px;
}
.todo-container .header .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.todo-container .header .settings .gear {
  margin-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.todo-container .header .settings .gear i {
  font-size: 32px;
  color: rgb(228, 225, 221);
  cursor: pointer;
  transition: color 0.3s;
}
.todo-container .header .settings .gear i:hover {
  color: rgb(255, 192, 123);
}
.todo-container .header .settings img {
  border-radius: 15px;
  width: 60px;
  height: 60px;
}
.todo-container .main {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container .main .category-box {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 30px;
  background-color: rgb(26, 28, 30);
  border-radius: 25px;
}
.todo-container .main .category-box .button {
  margin-bottom: 10px;
}
.todo-container .main .category-box .new-task {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 192, 123);
  border: none;
  cursor: pointer;
  color: rgb(8, 9, 11);
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
.todo-container .main .category-box .new-task:hover {
  color: rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
  border: 1px solid rgb(255, 192, 123);
}
.todo-container .main .tasks-container {
  margin-left: 30px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.todo-container .main .tasks-container .tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 80px;
}
.todo-container .main .tasks-container .tasks-header .tasks-name {
  color: rgb(228, 225, 221);
  font-size: 22px;
}
.todo-container .main .tasks-container .tasks-header .order-button {
  width: 120px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  background-color: rgb(26, 28, 30);
  color: rgb(228, 225, 221);
  font-size: 16px;
  border: 1px solid rgb(255, 192, 123);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
.todo-container .main .tasks-container .tasks-header .order-button:hover {
  color: rgb(8, 9, 11);
  background-color: rgb(255, 192, 123);
  border: 1px solid rgb(26, 28, 30);
}
.todo-container .main .tasks-container .tasks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.todo-container .main .tasks-container .tasks .task {
  position: relative;
  display: flex;
  margin: 25px;
  padding: 18px;
  max-height: 200px;
  border-radius: 25px;
  background-color: rgb(26, 28, 30);
  cursor: pointer;
  border: 1px solid rgb(8, 9, 11);
  transition: 0.3s;
}
.todo-container .main .tasks-container .tasks .task .box {
  width: 15%;
}
.todo-container .main .tasks-container .tasks .task .box i {
  font-size: 20px;
  color: rgb(228, 225, 221);
}
.todo-container .main .tasks-container .tasks .task .task-info {
  width: 180px;
}
.todo-container .main .tasks-container .tasks .task .task-info .task-date {
  font-size: 11px;
  color: rgb(228, 225, 221);
  font-style: italic;
}
.todo-container .main .tasks-container .tasks .task .task-info .task-name {
  margin-top: 10px;
  max-height: 20px;
  overflow: hidden;
}
.todo-container .main .tasks-container .tasks .task .task-info .task-description {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(228, 225, 221);
  font-size: 14px;
  max-height: 20px;
  overflow: hidden;
}
.todo-container .main .tasks-container .tasks .task .task-info img {
  width: 50px;
  border-radius: 15px;
  border: 1px solid rgb(8, 9, 11);
}
.todo-container .main .tasks-container .tasks .task:hover {
  background-color: rgb(255, 192, 123);
  border: 1px solid rgb(228, 225, 221);
  transform: scale(1.1);
}
.todo-container .main .tasks-container .tasks .task:hover .box i {
  color: rgb(8, 9, 11);
}
.todo-container .main .tasks-container .tasks .task:hover .task-info {
  width: 180px;
}
.todo-container .main .tasks-container .tasks .task:hover .task-info .task-date {
  font-size: 11px;
  font-weight: bold;
  color: rgb(8, 9, 11);
  font-style: italic;
}
.todo-container .main .tasks-container .tasks .task:hover .task-info .task-name {
  font-weight: bold;
}
.todo-container .main .tasks-container .tasks .task:hover .task-info .task-description {
  color: rgb(8, 9, 11);
  font-weight: bold;
}
.todo-container .main .tasks-container .tasks .task:hover .task-info img {
  border: 1px solid rgb(8, 9, 11);
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer .boxes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .boxes .box {
  font-family: "Montserrat", sans-serif;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 192, 123);
  color: rgb(8, 9, 11);
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  border: 1px solid transparent;
  font-size: 18px;
}
.footer .boxes .box:hover {
  color: rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
  border: 1px solid rgb(255, 192, 123);
}

.modal-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
}

.modal-new-task {
  padding: 10px 35px;
  position: absolute;
  width: 750px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(255, 192, 123);
  border-radius: 25px;
  z-index: 1000;
}
.modal-new-task .modal-title {
  text-align: center;
  margin: 25px;
  font-size: 35px;
  color: rgb(255, 192, 123);
}
.modal-new-task .modal-box {
  margin: 15px 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.modal-new-task .modal-box label {
  color: rgb(255, 192, 123);
  font-size: 20px;
  margin-bottom: 5px;
}
.modal-new-task .modal-box input,
.modal-new-task .modal-box textarea {
  padding: 5px;
  width: 100%;
  height: 25px;
}
.modal-new-task .modal-box textarea {
  resize: none;
  height: 50px;
}
.modal-new-task .modal-box .checkbox {
  width: 25px;
  cursor: pointer;
}
.modal-new-task .modal-box-buttons {
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.modal-new-task .modal-box-buttons .new-task-btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 192, 123);
  border: none;
  cursor: pointer;
  color: rgb(8, 9, 11);
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  margin-right: 25px;
  padding: 10px;
}
.modal-new-task .modal-box-buttons .new-task-btn:hover {
  color: rgb(255, 192, 123);
  background-color: rgb(26, 28, 30);
  border: 1px solid rgb(255, 192, 123);
}

.show-shadow {
  display: block;
}/*# sourceMappingURL=style.css.map */